<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.wangning.mapper.JournalMapper">
    <select id="selectAll" resultType="xin.wangning.vo.Journal">
        select * from journal_tb
    </select>
    <insert id="insert" parameterType="xin.wangning.vo.Journal">
        insert into journal_tb(name,url,rank)values(#{name},#{url},#{rank})
    </insert>
    <select id="selectByName" parameterType="String" resultType="xin.wangning.vo.Journal">
        select * from journal_tb where name = #{value}
    </select>
    <select id="selectByRank" parameterType="Long" resultType="xin.wangning.vo.Journal">
        select * from journal_tb where rank = #{rank}
    </select>
</mapper>