<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.wangning.mapper.ReferMapper">
    <select id="selectAll" resultType="xin.wangning.vo.Refer">
        select * from 参考表
    </select>
    <insert id="insert" parameterType="xin.wangning.vo.Refer">
        insert into 参考表(name,refer_name,refer_order)values (#{name},#{referName},#{referOrder})
    </insert>
    <update id="update" parameterType="xin.wangning.vo.Refer">
        update 参考表 set refer_order = #{referOrder} where name = #{name} and refer_name = #{referName}
    </update>
    <select id="selectByTwoName" parameterType="xin.wangning.vo.Refer" resultType="xin.wangning.vo.Refer">
        select * from 参考表 where refer_name=#{referName} and name = #{name}
    </select>
    <select id="selectByName" parameterType="String" resultType="xin.wangning.vo.Refer">
        select * from 参考表 where name = #{value}
    </select>
</mapper>